name: Greeting

on:
  schedule:
    - cron: "0 */3 * * *"
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        run: |
          echo "Today is $(date '+%A %B %d') and Software Engineers, still matter... or else this wouldn't be working." >> greeting.txt
          git config --local user.email "shadi.elfares@gmail.com"
          git config --local user.name "shadielfares"
          git add .
          git commit -m "Thats it folks!"
          git push origin main -f
