name: Thingy

on:
  schedule:
    - cron: "0 */3 * * *"
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.

      - name: Greeting
        run: |
          echo "Today is $(date '+%A %B %d') and Software Engineers, still matter... or else this wouldn't be working." >> greeting.txt
          git config --local user.email "shadi.elfares@gmail.com"
          git config --local user.name "shadielfares"
          git add .
          git commit -m "Thats it folks!"

      - name: Pushing Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
